.turnoContainer {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.turnoContainer:hover {
    transform: scale(1.02);
}

.turnoInfo {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}
