#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-image: url('./assets/fondo.png');
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
